services:
  apisix:
    image: apache/apisix:latest
    restart: always
    environment:
      - APISIX_CONF_CENTER=etcd
    volumes:
      - ./apisix/conf/config.yaml:/usr/local/apisix/conf/config.yaml
    ports:
      - "9000:9000" # APISIX Dashboard
      - "9088:9080" # data plane
      - "9180:9180" # admin plane
    depends_on:
      - etcd



  etcd:
    image: quay.io/coreos/etcd:v3.5.1
    environment:
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    ports:
      - "2379:2379"
    healthcheck:
      test: ["CMD", "etcdctl", "endpoint", "health", "--endpoints=http://localhost:2379"]
      interval: 5s
      timeout: 3s
      retries: 5


  opa:
    image: openpolicyagent/opa:0.70.0
    command: ["run", "--server", "--addr", ":8181", "/policies"]
    volumes:
      - ./policies:/policies:ro
    ports:
      - "8181:8181"

  pap:
    build: ./pap
    ports:
      - "3000:3000"
    depends_on:
      - opa

  mock-data:
    container_name: mock-data
    image: nginx:1.27
    volumes:
      - ./mock-data/data.json:/usr/share/nginx/html/data.json:ro
    ports:
      - "8080:80"

  frontend:
    image: nginx:1.27
    volumes:
      - ./index.html:/usr/share/nginx/html/index.html:ro
    ports:
      - "8081:80"
